.bgNav{
   background-color: #05204A;
}
body{
    background-color: #6697B0;

}
.bgCard{
    background-color: #B4CDDF;
}
.bgHead{
    background-color: #072249;
}
.button{
    background-color: #6600ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    color: white;
}
.buttons{
    position: center;
}

#roll-dice {
    background-color: paleturquoise;
}
#loginImg{
    width: 40%;
    height: 40%;
    position: absolute;
    top: -24%;
    left: 30%;
}

#globe{
    width: 8%;
    height: 8%;
    margin: 0px 5px 0px 5px;
}

#login{
    margin: 10% auto 0;
}

#loginHead{
    margin-top: 20%;
}
h1 {

    font-family: 'Fredericka the Great', cursive;

}

.type{

    font-family: 'Josefin Slab', serif;
    font-size: larger;
}

.typeNav{
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}
#homeHead{
    text-align: center;
    margin-top: 10%;
    font-size: 7em;
}

