<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head(${'Edit'})">

</head>

<body>
<nav th:replace="partials/navbar :: nav-bar"></nav>


<form class="mx-auto mt-5 w-75" th:action="@{'/post/'+${post.id}+'/edit'}" method="post" th:object="${post}">
    <div class="form-group">
        <label for="title" class="type">Title</label>
        <input type="text" class="form-control type" id="title"  placeholder="Title" th:field="*{title}"/>
    </div>
    <div class="form-group">
        <label for="body" class="type">Description</label>
        <input type="text" class="form-control type" id="body" placeholder="Body" th:field="*{body}"/>
    </div>
    <button  type="submit" class="btn btn-primary type">Submit</button>
</form>
<script th:replace="partials/footer :: footer"></script>

</body>
</html>