<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head(${'Post'})">

</head>
<body>
<nav th:replace="partials/navbar :: nav-bar"></nav>

    <div class="card mt-5 w-50 mx-auto">
        <h5 class="card-header text-center"><span th:text="${post.title}"></span></h5>
        <div class="card-body">
            <p  th:text="${post.body}" class="card-text text-center"></p>
        </div>
        <div class="card-footer">
        <p><span th:text="${post.getEmail()}"></span></p>
        </div>
    </div>


<script th:replace="partials/footer :: footer"></script>

</body>
</html>