<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head(${'Roll Dice'})">
</head>



<body id="roll-dice">
<nav th:replace="partials/navbar :: nav-bar"></nav>
<div class="card mt-5 w-50 mx-auto">
    <div class="card-header">
        <h1 class="text-center">Please guess a number</h1>
    </div>
    <div class="card-body">
        <div class="buttons text-center">
            <a class="button" href="/roll-dice/1"><strong>1</strong></a>
            <a class="button" href="/roll-dice/2"><strong>2</strong></a>
            <a class="button" href="/roll-dice/3"><strong>3</strong></a>
            <a class="button" href="/roll-dice/4"><strong>4</strong></a>
            <a class="button" href="/roll-dice/5"><strong>5</strong></a>
            <a class="button" href="/roll-dice/6"><strong>6</strong></a>
        </div>
    </div>
</div>
<div class="alert alert-danger mt-5" th:if="${number != null}">
    <h1>Your number is: <span th:text="${number}"></span></h1>
    <h1>Dice 1: <span th:text="${random1}"></span></h1>
    <h1>Dice 2: <span th:text="${random2}"></span></h1>


    <h1>Rolls so far:
        <div style="display: inline-block" th:each="roll :${rolls}">
            <span th:text="${roll}"></span>

        </div>

    </h1>

    <div th:if="${number.equals(random1) || number.equals(random2)}">
        <h1>You hit the number!!!</h1>
    </div>


</div>

<script th:replace="partials/footer :: footer"></script>
</body>
</html>